= form_tag properties_path, method: :get, role: "search", class: "form-inline" do |f|
  .form-group
    = search_field_tag "q", params[:q], placeholder: "Search by location", class: "form-control"
    = submit_tag "Search", class: "btn btn-primary"
