= provide(:title, "#{pluralize(@properties.count, "apartment")} found")

= render "search"

#map [style="position: absolute; height: 100%; width: 100%;"]

#search_result 
  = render "search_result"


css:
  .mapboxgl-popup {
    max-width: 150px;
    max-height: 300px;
    overflow-y: auto;
  }


javascript:
  // Pass JSON data to frontend.
  var data = #{ raw Property.properties_json_for_map(@properties) }

  // Create a map initializing with that data.
  var map = new window.App.maps.PropertiesMap(data[0].lngLat, data).map;

  // Do something when user finish moving the map.
  map.on('moveend', () => {

    // TODO: do something.
    console.log("moveend")

  })


  //---
  //---


  // Toggle map.
  $('#map_toggle').on('click', function() {
    $('#map').show();
    $('#search_result').hide();
  })
  // Toggle search_result.
  $('#search_result_toggle').on('click', function() {
    $('#search_result').show();
    $('#map').hide();
  })
  
  // Close modal when clicking on submit.
  $('#advanced_search_submit').on('click', function() {
    $('#advanced_search_close').trigger("click");
  })
